# Limpieza de datos

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

Carga de Datos

In [2]:
df = pd.read_csv('../data/training.csv')
print(df.shape)
df.head()

(11696, 15)

,Date,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
0,2022-11-19,S005,P0020,Furniture,South,452,432,176,442.08,84.09,0,Snowy,1,85.46,Summer
1,2023-06-29,S005,P0006,Clothing,South,377,212,31,221.02,50.49,15,Sunny,1,46.74,Autumn
2,2022-03-10,S005,P0010,Furniture,South,420,38,185,46.02,27.34,5,Sunny,1,22.62,Spring
3,2022-02-07,S005,P0001,Electronics,South,92,9,32,14.67,88.84,10,Snowy,1,85.76,Summer
4,2022-06-23,S005,P0015,Furniture,West,272,250,178,268.00,98.73,20,Sunny,1,96.54,Summer

In [39]:
# Revisar serie temporal valida

In [3]:
df['Date'] = pd.to_datetime(df['Date'])
df = df.set_index('Date')
df = df.sort_index()

In [4]:
df.head()

,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
Date,,,,,,,,,,,,,,
2022-01-01,S005,P0010,Clothing,East,87,8,141,14.38,37.04,10,Rainy,1,36.87,Summer
2022-01-01,S005,P0018,Furniture,West,161,107,66,103.97,48.96,10,Snowy,1,50.03,Spring
2022-01-01,S005,P0011,Groceries,West,427,104,128,94.65,54.12,10,Rainy,1,53.03,Summer
2022-01-01,S005,P0002,Clothing,West,415,298,107,292.96,57.15,5,Snowy,1,60.71,Autumn
2022-01-01,S005,P0005,Clothing,West,180,21,47,38.63,92.86,15,Rainy,1,96.30,Winter

In [10]:
df.dtypes

Store ID               object
Product ID             object
Category               object
Region                 object
Inventory Level         int64
Units Sold              int64
Units Ordered           int64
Demand Forecast       float64
Price                 float64
Discount                int64
Weather Condition      object
Holiday/Promotion       int64
Competitor Pricing    float64
Seasonality            object
dtype: object

# Proceso de limpieza

In [5]:
df.columns

Index(['Store ID', 'Product ID', 'Category', 'Region', 'Inventory Level',
       'Units Sold', 'Units Ordered', 'Demand Forecast', 'Price', 'Discount',
       'Weather Condition', 'Holiday/Promotion', 'Competitor Pricing',
       'Seasonality'],
      dtype='object')

In [8]:
def remove_outliers_iqr(df, columns):
    for col in columns:
        Q1 = df[col].quantile(0.25)
        Q3 = df[col].quantile(0.75)
        IQR = Q3 - Q1
        lower = Q1 - 1.5 * IQR
        upper = Q3 + 1.5 * IQR
        df = df[(df[col] >= lower) & (df[col] <= upper)]
    return df

def preprocesar_limpieza_lstm(df):
    df = df.copy()

    # Asegurar que Date exista y sea datetime
    if 'Date' in df.columns:
        df['Date'] = pd.to_datetime(df['Date'])
    else:
        raise ValueError("La columna 'Date' no existe en el DataFrame.")

    # Columnas numéricas a tratar
    numeric_cols = ['Units Sold', 'Demand Forecast', 'Price', 'Competitor Pricing']

    # Eliminar outliers
    df = remove_outliers_iqr(df, numeric_cols)

    # Normalizar columnas numéricas
    scaler = MinMaxScaler()
    df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

    # Convertir columna booleana
    if 'Holiday/Promotion' in df.columns:
        df['Holiday/Promotion'] = df['Holiday/Promotion'].astype(bool)

    # Extraer componentes de la fecha
    if pd.api.types.is_datetime64_any_dtype(df['Date']):
        df['Year'] = df['Date'].dt.year
        df['Month'] = df['Date'].dt.month
        df['Day'] = df['Date'].dt.day
        df['DayOfWeek'] = df['Date'].dt.dayofweek

    return df

    # Dumificar las estaciones del año y region de la tienda.
    # Crear cada literal en un vector, 8 columnas.

In [9]:
df

,Store ID,Product ID,Category,Region,Inventory Level,Units Sold,Units Ordered,Demand Forecast,Price,Discount,Weather Condition,Holiday/Promotion,Competitor Pricing,Seasonality
Date,,,,,,,,,,,,,,
2022-01-01,S005,P0010,Clothing,East,87,8,141,14.38,37.04,10,Rainy,1,36.87,Summer
2022-01-01,S005,P0018,Furniture,West,161,107,66,103.97,48.96,10,Snowy,1,50.03,Spring
2022-01-01,S005,P0011,Groceries,West,427,104,128,94.65,54.12,10,Rainy,1,53.03,Summer
2022-01-01,S005,P0002,Clothing,West,415,298,107,292.96,57.15,5,Snowy,1,60.71,Autumn
2022-01-01,S005,P0005,Clothing,West,180,21,47,38.63,92.86,15,Rainy,1,96.30,Winter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-01,S005,P0013,Electronics,West,389,276,99,277.27,32.05,0,Snowy,0,35.90,Summer
2024-01-01,S005,P0010,Toys,North,308,184,94,186.50,19.20,0,Cloudy,0,22.89,Winter
2024-01-01,S005,P0003,Furniture,South,98,92,118,105.61,24.17,5,Cloudy,0,23.07,Winter
2024-01-01,S005,P0007,Groceries,South,59,4,34,3.95,62.12,10,Rainy,1,66.85,Autumn
2024-01-01,S005,P0009,Furniture,North,319,211,31,209.03,87.70,0,Rainy,1,91.05,Autumn

In [62]:
# LSTM multivariado, realizando una prediccion de 30 dias

### Entrenamiento de Memoria LSTM

In [11]:
# Quitar con drop.na y duplicados